<main class="attraction attr_content">
  <section class="section1">
      <div class="sec_wrap">
        <div class="subpage_title_wrap">
            <h2>LET'S MOVE</h2>
            <div class="subpage_title">
                <div>
                    <h2>A</h2>
                </div>
                <div>
                    <h2>T</h2>
                </div>
                <div>
                    <h2>T</h2>
                </div>
                <div>
                    <h2>R</h2>
                </div>
                <div>
                    <h2>A</h2>
                </div>
                <div>
                    <h2>C</h2>
                </div>
                <div>
                    <h2>T</h2>
                </div>
                <div>
                    <h2>I</h2>
                </div>
                <div>
                    <h2>O</h2>
                </div>
                <div>
                    <h2>N</h2>
                </div>
            </div>
        </div>
      </div>
      <div class="wave">
          <div class="wave_bg wbg_top"></div>
      </div>
  </section>
  <section class="section2">
      <div class="sec_wrap_b">
          <div class="tab_content_wrap">
              <div class="attr_cate title">
                 <h4><%= row.cate %></h4> 
                 <h3><%= row.title %></h3>
              </div>
              <div class="attr_info">
                  <p><%= row.hashtag %></p>
          
                
            
        
              </div>
              <div class="notice_text">
                  <pre>
                      <img src="<%=row.img%>" alt="">
                      <p><%= row.content %></p>
                  </pre>
              </div>
          </div>
      </div>
      <div class="notice_btn_wrap">
        <div class="notice_btn">
            <input type="button" value="뒤로" class="list_btn" onclick="location.href='/attraction'" />
          </div>
          <div class="notice_btn">
              <input type="submit" value="MODIFY" onclick="javascript:location.href='/modify_attr?id=<%=row.id%>'" />
          </div>
          <div class="notice_btn">
          <input type="submit" value="DELETE" onclick="javascript:location.href='/delete_attr?id=<%=row.id%>'" />
      </div> </div>
      <div class="wave">
          <div class="wave_bg wbg_bot"></div>
      </div>
  </section>
</main>
