<main class="main">
    <section class="section1">
        <div class="sec1_wrap sec_wrap_b">
            <div class="main_img_wrap">
                <div class="confetti con-first"><img src="img/con-first.png" alt="" /></div>
                <div class="confetti con-second"><img src="img/con-second.png" alt="" /></div>
                <div class="main_logo"><div class="img"></div></div>
                <div class="main_left"><div class="img"></div></div>
                <div class="main_right"><div class="img"></div></div>
                <div class="main_center"><div class="img"></div></div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wb_transparent"></div>
        </div>
    </section>
    <section class="section2">
        <div class="sec_wrap">
            <div class="festi-poster">
                <div class="speaker"><div class="img"></div></div>
                <div class="seagal"><div class="img"></div></div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/poster1.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/poster2.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/poster3.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/poster6.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/poster4.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/poster5.png" alt="" /></div>
                    </div>
                </div>
                <div class="lp"><div class="img"></div></div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <section class="section3">
        <div class="sec3_wrap sec_wrap">
            <div class="sec3_left"></div>
            <div class="sec3_right">
                <div class="d-day">
                    <div>
                        <h1>D</h1>
                        <h1>-</h1>
                        <h1 id="d_date"></h1>
                        <h1>일</h1>
                    </div>
                    <div>
                        <h1 id="d_hour"></h1>
                        <h1>시</h1>
                        <h1 id="d_miniute"></h1>
                        <h1>분</h1>
                        <h1 id="d_second"></h1>
                        <h1>초</h1>
                    </div>
                </div>
                <div class="m_sec3_content">
                    <div class="sec3_subtitle">
                        <h3>2024 새해맞이</h3>
                        <h3>시민의 종 타종행사</h3>
                    </div>
                    <div class="sec3_content_right">
                        <p>
                            새해맞이 시민의 종 타종식은 추운 날씨지만 새로운 해를 맞이하며 서로의 건강과 행복을 빌며 따뜻한 마음을 나눌 수 있는
                            축제로, 매년 수십만의 인파가 찾아오는 해양도시 부산의 특색을 살린 겨울철 대표 테마축제입니다.
                        </p>
                        <div class="sec3_info">
                            <div class="sec3_info_left">
                                <h4 class="red">WHAT?</h4>
                                <h4 class="blue">WHERE?</h4>
                                <h4 class="yellow">WHEN?</h4>
                            </div>
                            <div class="sec3_info_right">
                                <h4>시민의 종 타종행사</h4>
                                <h4>용두산 공원</h4>
                                <h4>2022.12.31 ~ 2023.01.01</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>

    <!-- 유주섹션 -->
    <section id="section4">
        <div class="sec_wrap">
            <div class="sec4_title">
                <div class="subTitle">
                    <h1>N</h1>
                    <h1>O</h1>
                    <h1>T</h1>
                    <h1>I</h1>
                    <h1>C</h1>
                    <h1>E</h1>
                </div>
            </div>
            <div class="sec4_cont">
                <% rows1.forEach((row)=>{%>
                <input type="hidden" name="id" value="<%= row.id %>" />
                <div class="notice_list" onclick="javascript:location.href='/notice_detail?id=<%= row.id %>'">
                    <h4 class="notice_cate"><%= row.category %></h4>
                    <div class="hidden"><%= row.categorycolor %></div>
                    <h4 class="notice_title">
                        <a href=""><%= row.title %></a>
                    </h4>
                    <h4 class="notice_date"><%= row.time %></h4>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    <div class="wave">
        <div class="wave_bg wbg_top"></div>
    </div>
    <section class="section5">
        <div class="sec5_title">
            <div class="subTitle">
                <h1>N</h1>
                <h1>E</h1>
                <h1>W</h1>
                <h1>S</h1>
            </div>
        </div>

        <div class="news_wrap">
            <div class="sec5_content sec_wrap">
                <!-- Swiper -->
                <div class="swiper mySwiper_news">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide newsimg">
                            <img src="img/city1.jpg" alt="" />
                            <div class="news_box">
                                <div class="txt_box">
                                    <h4>부산 불꽃 축제 3년만에 개최!</h4>
                                    <p>
                                        오는 11월 5일, 3년 만에 정상 개최되는 부산불꽃축제가 티켓판매를 시작으로 카운트다운에 돌입한다. 부산시(시장
                                        박형준)와 (사)부산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축직위는 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다. 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다.
                                    </p>
                                    <a class="n_more_btn" href="/news">더보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide newsimg">
                            <img src="img/city2.jpg" alt="" />
                            <div class="news_box">
                                <div class="txt_box">
                                    <h4>부산 불꽃 축제 티켓 판매 시작</h4>
                                    <p>
                                        오는 11월 5일, 3년 만에 정상 개최되는 부산불꽃축제가 티켓판매를 시작으로 카운트다운에 돌입한다. 부산시(시장
                                        박형준)와 (사)부산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축직위는 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다. 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다.
                                    </p>
                                    <a class="n_more_btn" href="/news">더보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide newsimg">
                            <img src="img/city3.jpg" alt="" />
                            <div class="news_box">
                                <div class="txt_box">
                                    <h4>부산 불꽃 축제 티켓 판매 시작</h4>
                                    <p>
                                        오는 11월 5일, 3년 만에 정상 개최되는 부산불꽃축제가 티켓판매를 시작으로 카운트다운에 돌입한다. 부산시(시장
                                        박형준)와 (사)부산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축직위는 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다. 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다.
                                    </p>
                                    <a class="n_more_btn" href="/news">더보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide newsimg">
                            <img src="img/city4.jpg" alt="" />
                            <div class="news_box">
                                <div class="txt_box">
                                    <h4>부산 불꽃 축제 티켓 판매 시작</h4>
                                    <p>
                                        오는 11월 5일, 3년 만에 정상 개최되는 부산불꽃축제가 티켓판매를 시작으로 카운트다운에 돌입한다. 부산시(시장
                                        박형준)와 (사)부산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축직위는 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다. 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다.
                                    </p>
                                    <a class="n_more_btn" href="/news">더보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide newsimg">
                            <img src="img/city5.jpg" alt="" />
                            <div class="news_box">
                                <div class="txt_box">
                                    <h4>부산 불꽃 축제 티켓 판매 시작</h4>
                                    <p>
                                        오는 11월 5일, 3년 만에 정상 개최되는 부산불꽃축제가 티켓판매를 시작으로 카운트다운에 돌입한다. 부산시(시장
                                        박형준)와 (사)부산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축제조산문화관광축직위는 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다. 제17회
                                        부산불꽃축제부산불꽃축제부산불꽃축제부산불꽃축제축제축제의유료유료좌석을 공개하기로 했습니다.
                                    </p>
                                    <a class="n_more_btn" href="/news">더보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="arrow nswiper-btn-next"></div>
                <div class="arrow nswiper-btn-prev"></div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
    <section class="section6">
        <div class="sec_wrap">
            <div class="sec5_title">
                <div class="subTitle">
                    <h1>A</h1>
                    <h1>T</h1>
                    <h1>T</h1>
                    <h1>R</h1>
                    <h1>A</h1>
                    <h1>C</h1>
                    <h1>T</h1>
                    <h1>I</h1>
                    <h1>O</h1>
                    <h1>N</h1>
                </div>
            </div>
            <div class="sec6_cont">
                <div class="left_cont">
                    <div class="left_cont_img">
                        <div></div>
                    </div>
                </div>
                <div class="right_cont">
                    <div id="right_title">
                        <ul>
                            <li>
                                <div id="right_title_1" class="tabTitle active" onclick="tabOpen(event, 'sec6_tab1')"></div>
                                <p>자연/사찰</p>
                            </li>
                            <li>
                                <div id="right_title_2" class="tabTitle" onclick="tabOpen(event, 'sec6_tab2')"></div>
                                <p>전시/관람</p>
                            </li>
                            <li>
                                <div id="right_title_3" class="tabTitle" onclick="tabOpen(event, 'sec6_tab3')"></div>
                                <p>해수욕장/항구</p>
                            </li>
                            <li>
                                <div id="right_title_4" class="tabTitle" onclick="tabOpen(event, 'sec6_tab4')"></div>
                                <p>공원/시설</p>
                            </li>
                        </ul>
                        <div id="acco">
                            <div id="sec6_tab1" class="tabcont">
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">광안리</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">해수욕장정보</a></li>
                                            <li><a href="#">맛집정보</a></li>
                                            <li><a href="#">추천정보</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">해운대</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">해수욕장정보/a></li>
                                            <li><a href="#">맛집정보</a></li>
                                            <li><a href="#">추천정보</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">일광</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">해수욕장정보</a></li>
                                            <li><a href="#">맛집정보</a></li>
                                            <li><a href="#">추천정보</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="sec6_tab2" class="tabcont">
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴2</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴3</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="sec6_tab3" class="tabcont">
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">해운대</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴2</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴3</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="sec6_tab4" class="tabcont">
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">공원</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴2</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec6_tab_wrap">
                                    <div class="tab_title">메뉴3</div>
                                    <div class="sec6_tab_sub">
                                        <ul>
                                            <li><a href="#">서브메뉴1</a></li>
                                            <li><a href="#">서브메뉴2</a></li>
                                            <li><a href="#">서브메뉴3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <section class="section7">
        <div class="sec_wrap">
            <div class="sec7_title">
                <div class="subTitle">
                    <h1>S</h1>
                    <h1>U</h1>
                    <h1>R</h1>
                    <h1>P</h1>
                    <h1>R</h1>
                    <h1>I</h1>
                    <h1>S</h1>
                    <h1>E</h1>
                    <h1>!</h1>
                </div>
            </div>
            <div class="surprise_wrap">
                <h3>LUCKY BOX FOR YOU</h3>
                <p>지금 기대되는 2023 부산축제와 그 이유를 댓글로 남기면</p>
                <p>추첨을 통해 에어팟과 10만원 상당의 lucky box를 드립니다</p>
            </div>
            <a href="luckybox">
                <div class="sub_cate bgp"><h4>APPPLY</h4></div>
            </a>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
    <!-- <div class="main_banner"><img src="img/banner_busan.jpg" alt="" /></div> -->
    <section class="sec3_sponser">
        <div class="sec_wrap">
            <div class="sponser_slide_box">
                <div class="swiper sponser_slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/sponser1.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser2.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser3.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser4.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser5.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser6.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser7.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser8.png" alt="" /></div>
                        <div class="swiper-slide"><img src="img/sponser9.png" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
</main>
<div id="topBtn"><span></span></div>
<script src="js/main.js"></script>
