<main class="community notice_write">
    <section class="section1">
        <div class="sec_wrap">
            <div class="subpage_title_wrap">
                <div class="subpage_title">
                    <div>
                        <h2>N</h2>
                    </div>
                    <div>
                        <h2>O</h2>
                    </div>
                    <div>
                        <h2>T</h2>
                    </div>
                    <div>
                        <h2>I</h2>
                    </div>
                    <div>
                        <h2>C</h2>
                    </div>
                    <div>
                        <h2>E</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <section class="section2">
        <form action="m_notice" method="post">
            <input type="hidden" value="<%= row.id %>" name="id" />
            <div class="sec_wrap">
                <div class="notice_write_cont">
                    <div class="notice_write_cate wh_bg"><h4>게시글 수정</h4></div>
                    <div class="notice_write_cont">
                        <div class="notice_write_cate wh_bg_line"><h4>*는 필수 입력입니다.</h4></div>
                        <div class="notice_write_cont">
                            <div class="notice_write_cate wh_bg_line">
                                <p class="notice_write_title">*작성자</p>
                                <div><input type="text" name="name" id="writer" class="notice_write_input" value="<%= row.writer %>"/></div>
                            </div>

                            <div class="notice_write_cont">
                                <div class="notice_write_cate wh_bg_line">
                                    <p class="notice_write_title">비밀번호</p>
                                    <div>
                                        <input type="password" name="password" id="pw" class="notice_write_input" value="<%= row.password %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="notice_write_cont">
                                <div class="notice_write_cate wh_bg_line">
                                    <p class="notice_write_title">카테고리</p>
                                    <div>
                                        <select name="category">
                                            <option value="">--Please choose an option--</option>
                                            <option value="BFOC">BFOC</option>
                                            <option value="부산항 축제">부산항 축제</option>
                                            <option value="부산 바다축제">부산 바다축제</option>
                                            <option value="골목길 축제">골목길 축제</option>
                                            <option value="부산 불꽃 축제">부산 불꽃 축제</option>
                                            <option value="국제 록 페스티벌">국제 록 페스티벌</option>
                                            <option value="시민의 종 타종식">시민의 종 타종식C</option>
                                            <option value="유채꽃 축제">유채꽃 축제</option>
                                        </select>
                                        <select name="category_color">
                                            <option value="">--Please choose an color--</option>
                                            <option value="#ee4b3c">RED</option>
                                            <option value="#f9b6b0">PINK</option>
                                            <option value="#1874c1">BLUE</option>
                                            <option value="#ffbc16">YELLOW</option>
                                            <option value="#1ea849">GREEN</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="notice_write_cont">
                                <div class="notice_write_cate wh_bg_line">
                                    <p class="notice_write_title">제목</p>
                                    <div><input type="text" name="title" id="title" class="notice_write_input2" value="<%= row.title %>" /></div>
                                </div>
                            </div>
                            <div class="notice_write_cont">
                                <div class="notice_write_cate wh_bg_line">
                                    <p class="notice_write_title">내용</p>
                                    <div class="noti_textarea">
                                        <textarea name="content" rows="10" cols="100" value="<%= row.content %>"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="notice_write_cont">
                                <div class="notice_write_cate wh_bg_line">
                                    <p class="notice_write_title">첨부파일</p>
                                    <div class="noti_file"><input type="file" name="title" id="title" class="notice_write_input2" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notice_btn_wrap">
                    <div class="notice_btn">
                        <input type="button" value="취소" class="list_btn" onclick="location.href='/notice_list'" />
                    </div>
                    <div class="notice_btn">
                        <input type="submit" value="확인" id="submit">
                    </div>
                </div>
            </div>
        </form>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
</main>
